extends ../layout/admin

block contenido
    .py-10
        h1.text-center.text-4xl.my-10.font-extrabold Administración
            span.font-normal Zacatlán
        h2.text-center.text-2xl.font-extrabold= pagina

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-5(action="/habitaciones/crear", method="POST")
                input(type="hidden" name="_csrf" value= csrfToken)
                div.space-y-5 
                    h3.text-lg.leading-6.font-medium.text-gray-900 Información Habitación
     

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="id_htl") Hotel 
                        select#id_htl.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="text" name="id_htl")
                            option(value="null") Ninguno 
                            each hotel in hoteles
                                    option(value= hotel.id_htl) #{hotel.nombre}
                        if (errores)
                            each error in errores
                                if (error.param=='id_htl')
                                    .bg-green-100.rounded-lg.py-5.px-6.mb-4.text-base.text-green-700.mb-3(role='alert')
                                        | #{error.msg} 
                        
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre 
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre" value= habitacion ? habitacion.nombre : '')
                        if (errores)
                            each error in errores
                                if (error.param=='nombre')
                                    .bg-green-100.rounded-lg.py-5.px-6.mb-4.text-base.text-green-700.mb-3(role='alert')
                                        | #{error.msg}
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="piso") Piso 
                        input#piso.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Piso" type="text" name="piso" value= habitacion ? habitacion.piso : '')
                        if (errores)
                            each error in errores
                                if (error.param=='piso')
                                    .bg-green-100.rounded-lg.py-5.px-6.mb-4.text-base.text-green-700.mb-3(role='alert')
                                        | #{error.msg}
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="refrigerador") Refrigerador
                        input#refrigerador(type="checkbox", name="refrigerador")
                    
                    input(class= "w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded-md text-white font-bold uppercase cursor-pointer" type="submit", value="Registrar Habitación")