extends ../layout/admin

block contenido
    .py-10
        h1.text-center.text-4xl.my-10.font-extrabold Administración
            span.font-normal Zacatlán
        h2.text-center.text-2xl.font-extrabold= pagina

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-5(action=`/hoteles/editar/${hotel.id_htl}`, method="POST")
                input(type="hidden" name="_csrf" value= csrfToken)
                div.space-y-5 
                    h3.text-lg.leading-6.font-medium.text-gray-900 Información Hotel
            

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre Hotel 
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre Hotel" type="text" name="nombre" value= hotel ? hotel.nombre : '')
                        if (errores)
                            each error in errores
                                if (error.param=='nombre')
                                    .bg-green-100.rounded-lg.py-5.px-6.mb-4.text-base.text-green-700.mb-3(role='alert')
                                        | #{error.msg}
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="direccion") Dirección Hotel 
                        input#direccion.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Dirección Hotel" type="text" name="direccion" value= hotel ? hotel.direccion : '')
                        if (errores)
                            each error in errores
                                if (error.param=='direccion')
                                    .bg-green-100.rounded-lg.py-5.px-6.mb-4.text-base.text-green-700.mb-3(role='alert')
                                        | #{error.msg}
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="telefono") Telefono Hotel 
                        input#telefono.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Telefono Hotel" type="text" name="telefono" value= hotel ? hotel.telefono : '')
                        if (errores)
                            each error in errores
                                if (error.param=='telefono')
                                    .bg-green-100.rounded-lg.py-5.px-6.mb-4.text-base.text-green-700.mb-3(role='alert')
                                        | #{error.msg}
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Correo Hotel 
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Correo Hotel" type="text" name="email" value= hotel ? hotel.email : '')
                        if (errores)
                            each error in errores
                                if (error.param=='email')
                                    .bg-green-100.rounded-lg.py-5.px-6.mb-4.text-base.text-green-700.mb-3(role='alert')
                                        | #{error.msg}
                    input(class= "w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded-md text-white font-bold uppercase cursor-pointer" type="submit", value="Añadir imagen")